<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <title>Pagina Principala</title>
</head>
<body>
    <h1>List of Matches</h1>
    <ul>
        {% for match in matches %}
            <li>
                {{ match.home_team }} vs {{ match.away_team }}
                <br>
                {{ match.match_datetime }}
                <br>
                {% if match.score %}
                    Score: {{ match.score }}
                    <br>
                {% else %}
                    Score: -:-
                    <br>
                {% endif %}
                {{ match.match_status }}
                {% if match.live_match %}
                    <br>
                    <a href="{{ match.live_match }}">Urmărește live</a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</body>
</html>
